
body {
	font-family:helvetica;
	font-size:18px;
	color:black;
}

h1 {
	font-size:18px;
}

a {
	color: deeppink;
	font-size: 18px;
}

a:hover {
	color: blue;
}	

@media (max-width:600px) {
  h1, a {
    font-size:36px;
  }
}

